<div class="logo-footer" data-search-index="false">
  <img src="/assets/images/footer-logo.svg" alt="">
  <h5>rethink luxury</h5>
</div>

<div class="top-footer" data-search-index="false">
  <ul id="js-navigation-footer">
    <li class="footer-nav-link"><a href="/work">WORK</a></li>
    <li class="footer-nav-link"><a href="/agency">AGENCY</a></li>
    <li class="footer-nav-link"><a href="/index.html#clients">CLIENTS</a></li>
    <li class="footer-nav-link"><a href="/blog">BLOG</a></li>
  </ul>
</div>

<footer class="footer-2" role="contentinfo" data-search-index="false">

  <div class="brand">&copy;&nbsp;<script type="text/javascript">document.write(new Date().getFullYear())</script>&nbsp;The O Group / {{ site.data.locations[0].address }}</div>

  <div class="social">
    {% for item in site.data.socialmedia %}
      <div class="service">
        <a href="{{ item.url }}" target="_blank"><i class="fa fa-{{ item.name | downcase }}"></i></a>
      </div>
    {% endfor %}

    <div class="modal-x">
      <label for="modal-x">
        <div class="modal-trigger"><p>subscribe</p></div>
      </label>
      <input class="modal-state" id="modal-x" type="checkbox" />
      <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-content">
              <div class="modal-close" for="modal-x"></div>
              <h1>Subscribe</h1>
              <hr>
              <p class="signup"><span>Receive updates and information about luxury branding and design</span></p>
              <form action="http://ogroup.us6.list-manage.com/subscribe/post" method="post"><input name="u" type="hidden" value="f3d27fd356f117811b03212bf" /><input name="id" type="hidden" value="e697364935" />
                <div class="input" style="display:table">
                  <input style="display:table-cell; width:100%" name="MERGE0" placeholder="Email" />
                </div>
                <div class="input" style="display:table">
                  <input style="display:table-cell; width:100%" name="MERGE1" placeholder="First Name" />
                </div>
                <div class="input" style="display:table">
                  <input style="display:table-cell; width:100%" name="MERGE2" placeholder="Last Name" />
                </div>
                <div class="submit"><input type="submit" value="Subscribe" />
                <p class="nospam">The O Group will never share your information with any third party. You can opt-out at any time.</p>
              </div>
            </form>
            </div>
          </div>
      </div>
    </div>
  </div>


</footer>





