<header class="navigation" role="banner" data-search-index="false">
  <div class="navigation-wrapper">
<!--     <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a> -->
    <!-- <a href="javascript:void(0)" id="js-navigation-mobile-menu" class="navigation-mobile-menu">MENU</a> -->
    <nav role="navigation">
    <a class="svg" href="/">
      <span>
        <object type="image/svg+xml" data="{{ site.header_logo }}" class="logo"></object>

        <!-- <object type="image/svg+xml" data="/static/images/logo.svg" class="logo"></object> -->
      </span>
    </a>


    <!-- <button id="trigger-overlay" type="button">Open Overlay</button> -->

      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link work"><a href="/work">WORK</a></li>
        <li class="nav-link agency"><a href="/agency">AGENCY</a></li>
        <li class="nav-link clients"><a href="/index.html#clients">CLIENTS</a></li>
        <li class="nav-link blog"><a href="/blog">BLOG</a></li>
        <li class="nav-link contact"><a href="/contact">CONTACT</a></li>
      </ul>

      <div id="menu-wrapper">
        <p class="contact mobile"><a href="/contact">CONTACT</a></p>
        <button class="c-hamburger c-hamburger--htx overlay-close">
          <span>toggle menu</span>
        </button>
      </div>

      <div class="overlay overlay-hugeinc">
        <!-- <button type="button" class="c-hamburger">Close</button> -->
        <nav>
          <ul>
            <li><a href="/work">Work</a></li>
            <li><a href="/agency">Agency</a></li>
            <li><a href="/index.html#clients">Clients</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>

    </nav>
  </div>
</header>
