<script>

  // imgix responsive background-image
  // https://gist.github.com/croxton/9cfa0cca85fbb5f135441653a5b1dd9f
  var $img = $(".js-img");
  if ($img.length) {
    // triggered whenever an image is loaded, including on resize
    $img.each(function() {
      $(this).on('load', function(){
        // legacy browser support
        // picturefill();
        // fallback to src for browsers without srcset support
        var src = $(this).prop('currentSrc') || $(this).prop('src');
        // set the background image for the parent
        var $parent = $(this).parent();
        $parent.css('backgroundImage', 'url('+src+')');
      });
    })
  }

  (function() {
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    });
    // layout Isotope after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry();
    });

    //lazyload
    $("img.lazy").lazyload({
      effect: 'fadeIn',
      effectspeed: 1000,
      threshold: 200
    });

    // $('img.lazy').load(function() {
    //     masonry_update();
    // });

    $('img.lazy').on('load', function() {
      masonry_update();
     });

    function masonry_update() {
        var $grid = $('.grod');
        $grid.imagesLoaded(function(){
            $grid.masonry({
                itemSelector: '.grid_item',　
                isFitWidth: true,　
                columnWidth: '.grid-sizer'
            });
        });
     }


   $(".modal-state").on("change", function() {
     if ($(this).is(":checked")) {
       $("body").addClass("modal-open");
     } else {
       $("body").removeClass("modal-open");
     }
   });

   $(".modal-fade-screen, .modal-close").on("click", function() {
     $(".modal-state:checked").prop("checked", false).change();
   });

   $(".modal-inner").on("click", function(e) {
     e.stopPropagation();
   });

  })();
</script>