---
title: About Us
purpose_headline: Rethink Luxury
purpose_text: 'Luxury is a powerful tool. It can elevate, alter, inspire. It can cement a brand’s legacy in the hearts and minds of consumers.'
services_headline: What we do
services_text: 'We help brands develop a point of view, and create an emotional connection with people who value aesthetic and experience.'
branding_text: 'We live in a world where luxury, price and category are no longer directly related. Branding is built on a strategic foundation that provides the framework for targeted creative. It’s about a tightly woven brand experience exceeding expectations.'
campaigns_text: 'We form a nuanced understanding of a brand’s position in order to launch the latest campaign. Whether the ask is to build excitement around a new product launch or to disrupt a category with luxury-level creative, we love this type of work.'
special_projects_text: 'Sometimes we take on work that doesn’t quite fit into Branding or Campaigns. From a global spirits conglomerate who needs help rethinking category norms, to a start-up with big brand aspiration, we’d love to talk about your crazy idea.'
about_text_1: We think differently. We always have. About the development of strategy and creative. About client relationships. About luxury.
about_text_2: 'Founded in 1986, The O Group is an independently owned creative agency headquartered in New York City and Seattle. Our focus from the beginning has been to reimagine how luxury brands are shaped. Many people can identify where luxury came from. Our mission is to help shape where it’s headed. We do that by becoming true partners to our clients and helping them define a unique brand voice inside the ever-changing and growing marketplace.'
about_text_3: "Our highly strategic and creative teams work collaboratively with every client. We have developed a proven, results-oriented process that insures success and delivers work that inspires. We're a diverse group of foodies, design geeks, dog lovers, travelers, adventure seekers, professional good-timers and martini guzzlers."
contact_tagline: Let’s talk about luxury.
description: 'A New York &amp; Settle based creative agency focused on rethinking luxury.'
team:
  - name: Orit
    title: CEO / PARTNER / NYC
    team_image: /uploads/orit-pic.jpg
    bio_markdown: >-
      Orit is and Founder/CEO of the boutique branding and creative agency, The O Group.
      Headquartered in New York City with offices in Seattle, the agency has carved out a niche in the luxury space; working with stellar brands such as Salvatore Ferragamo, Moet Hennessy USA, Garrard, Diageo, Acqualina Resort and Spa, Lacoste, Godiva, and The Pierre Hotel.


      Beginning her career as a graphic designer, Orit moved from corporate communications at a major television network, to heading up design departments at a number of corporations ranging from entertainment, toys, publishing and consumer electronics. Feeling the urge to create something for herself, Orit founded The O Group in 1986, and hasn’t looked back.


      The agency’s success can also be attributed to its ability to continually evolve and transform itself based on market needs and staying relevant. Today, the focus is less on raising the luxury market as a whole, and more on giving all brands the ability to leverage luxury cues, regardless of their industry. This ability can only come from an expert who has decades of experience connecting with consumers.


      In her time away from the agency, Orit also works tirelessly in a variety of fields close to her heart, including student mentorship, women’s business and leadership, and fostering relationships with past, and current, clients and employees and partners.


      Orit also loves to spend time with her family,  gardening, and entertaining at her lake house.
  - name: Daymon Bruck
    title: CCO / PARTNER / SEATTLE
    team_image: /uploads/daymon-pic.jpg
    bio_markdown: >-
      A branding expert with 30 years dedication to the craft of creative problem solving, Daymon is currently leading the West Coast office in Seattle for The O Group as Chief Creative Officer. His ongoing success in the field of creative development has produced award-winning materials for many brand-driven clients including Nike, Coca-Cola, IBM, GeneralMotors, Salvatore Ferragamo, Four Seasons Hotels, MIRAMAX films and The OprahWinfrey Network.


      Daymon’s approach to brand development is very straightforward: immerse himself in the client’s business and industry, then deliver strategic brand creative that produces meaningful results. With decades of experience as a brand strategist and his extensive history in digital and print creative platforms, he considers solving holistic communication challenges his most meaningful client collaborations.


      After a successful career with two of the top creative firms on the East Coast, Ogilvy in NYC and Mullen in Boston, Daymon returned to his hometown of Seattle in 2001 to work with the region’s best-known agencies, Cole & Weber and Hornall Anderson. In 2006, after 15 years as Creative Director in the large agency world, he launched his own brand consultancy practice and developed a client list with many iconic brands of the Northwest such as Starbucks, Microsoft, AT&T Wireless, the Space Needle, Chihuly Garden and Glass, DRY Soda, and the Seattle International Film Festival.


      Today, the result of a 25 year strong friendship and successful collaborative bond with Orit and her agency (Daymon was The O Group’s first Creative Director hire in 2001) the branding veterans boldly joined forces again in 2017, expanding The O Group NYC office to Seattle with a dedicated focus on a select client base that would provide the most rewarding collaborations for both partners.


      When not focused on client work, Daymon continues to experiment with a number of other hats including restauranteur, aromatherapist, photographer, cyclist and organic farmer.
_comments:
  team_image: 'Photos should be exactly 1500px wide and 2110px tall.'
---

<section class="grid">
  <div class="intro banner">
    <h5>purpose</h5>
    <h1 class="headline">{{ page.purpose_headline }}</h1>
    <h2>{{ page.purpose_text }}</h2>
  </div>
</section>

<section class="full">
  <div class="services banner">
    <div class="inner-wrapper">
      <div class="inner">
        <h5>services</h5>
        <h1 class="headline">{{ page.services_headline }}</h1>
        <h2>{{ page.services_text }}</h2>
        <div class="service-inner">
          <h5>Strategy guides everything</h5>
          <div class="service">
            <p class="headline">branding</p>
            <p>{{ page.branding_text }}</p>
          </div>
          <div class="service">
          <p class="headline">campaigns</p>
            <p>{{ page.campaigns_text }}</p>
          </div>
          <div class="service">
          <p class="headline">special projects</p>
            <p>{{ page.special_projects_text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grid">
  <div class="about banner">
    <div class="inner-wrapper">
      <div class="inner">
        <h5>about</h5>
        <h1 class="headline">30 Years</h1>
        <h2 class="top">{{ page.about_text_1 }}</h2>
        <div class="wrapper">
          <p class="col-1">{{ page.about_text_2  }}</p>
          <p class="col-2">{{ page.about_text_3  }}</p>
        </div>
        <!-- <h2 class="bottom">{{ page.about_text_4 }}</h2> -->
      </div>
    </div>
  </div>
</section>

<section class="full">
  <div class="team banner">
    <div class="inner">
      <h5>people</h5>
      <h1 class="headline">Meet the team</h1>
    </div>
    <div class="people-wrapper">
      {% for person in page.team %}
        <div class="person">
          <img
            ix-path="{% if person.team_image %}{{person.team_image | replace: '/uploads/', ''}}{% endif %}"
            ix-params='{
              "auto": "compress"
            }'
            sizes="(min-width: 1000px) 378px, (min-width: 1000px) 25vw, 90vw"
          >
          <p class="name">{{ person.name }}</p>
          <p class="title">{{ person.title }}</p>
          <button class="bio"><p>bio</p></button>

          <div class="modal">
            <label for="modal-{{ forloop.index }}">
            </label>
            <input class="modal-state" id="modal-{{ forloop.index }}" type="checkbox" />
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-{{ forloop.index }}"></div>
                <div class="modal-image" style="background-size: cover">
                  <img
                    class="js-img"
                    ix-path="{% if person.team_image %}{{person.team_image | replace: '/uploads/', ''}}{% endif %}"
                    ix-params='{
                      "auto": "compress"
                    }'
                    sizes="45vw"
                  >
                </div>
                <div class="modal-text">
                  <div class="modal-text-inner">
                    <p class="name">{{ person.name }}</p>
                    <p class="title">{{ person.title }}</p>
                    {{ person.bio_markdown | markdownify  }}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% assign casestudies = site.projects | sort:'sort_order' %}
{% assign casestudy = casestudies[0] %}

<section class="split full">
  <div class="split banner">
    <div class="split split-left">
    <a href="/contact">
      <h5>Contact</h5>
      {% if page.contact_tagline %}<h3>{{ page.contact_tagline }}</h3>{% endif %}
      <div class="arrow-wrapper">
        <img src="/assets/images/red-arrow.png" alt="" class="arrow">
      </div>
    </a>
    </div>
    <div class="split-right" style="background-size: cover;">
      <img
        class="js-img"
        ix-path="{{casestudy.featured_image | replace: '/uploads/', ''}}"
        ix-params='{
          "auto": "compress"
        }'
        sizes="(min-width: 1000px) 50vw, 100vw"
      >
      <a href="{{ casestudy.url }}">
        <h5>Case Study</h5>
        <h3>{{ casestudy.overview }}</h3>
        <div class="arrow-wrapper">
          <img src="/assets/images/white-arrow.png" alt="" class="arrow">
        </div>
      </a>
    </div>
  </div>
</section>