body.blog {

  .nav-link.blog a {
    border-bottom: 3px solid $myred;
  }

  .full {
    .banner.photo {
      @include banner-photo();
      @include media($mobile-down) {
        height: 250px;
        margin: 0;
        // margin-top: rem(4);
      }
      @include media($desktop-up) {
        height: rem(550);
      }
    }
  }

  section.grid {
    @include media($mobile-down) {
      text-align: center;
    }
  }

  .posts-wrapper {
    @include media($mobile-down) {
      @include span-columns(1 of 1);
      // float: left;
      // margin: 0 auto;
      // width: 85%;
      @include pad(3rem 0 2rem 0);
      // margin-top: em(-150);
      margin-bottom: 2rem;
      background-color: #fff;
      hr {
        @include span-columns(1 of 1);
        margin: 2rem 0 2.5rem 0;
        &:first-of-type {
          display: none;
        }
      }
      .image {
        @include span-columns(1 of 1);
        height: em(250);
        margin-bottom: 2rem;
        &:first-of-type {
          display: none;
        }
        a {
          display: block;
          height: 100%;
        }
      }
      .links {
        display: none !important;
        @include span-columns(1 of 1);
        @include pad(0 1rem 1rem 1rem);
        text-align: center;
        img.author {
          width: em(80);
          border-radius: 50%;
          // margin-bottom: 1em;
        }
        h5 {
          font-family: FranklinGothicURWCom-Dem;
          color: $mygray;
          letter-spacing: 0;
          margin-bottom: 0;
          font-size: em(13);
          letter-spacing: .05em;
          // font-weight: bold;
        }
        p {
          font-family: MillerDisplay;
          color: $mygray;
          font-size: em(13);
        }
        // border-right: 1px solid $mygold;
      }
      .intro {
        @include span-columns(1 of 1);
        @include omega();
        text-align: left;
        // padding-right: 1.5rem;
        h2 {
          font-family: "MillerDisplay Light";
          font-size: rem(24);
          // margin-bottom: 1em;
          margin-top: -8px;
          padding: 0;
        }
        h3 {
          display: inline-block;
          font-family: "MillerText";
          font-size: em(16);
          line-height: 1em;
          font-style: italic;
          margin-top: 1rem;
          margin-right: .5rem;
          border-bottom: 1px solid $text;
        }
        p {
          font-family: MillerDisplay;
          color: $mygray;
          a {
            color: $myred;
          }
        }
        p.byline {
          font-family: FranklinGothicURW-Boo;
          text-transform: uppercase;
          font-size: rem(12);
          letter-spacing: .1em;
          color: $text;
          margin-top: .5em;
          span {
            font-family: MillerDisplay;
            text-transform: lowercase;
            font-style: italic;
            font-size: rem(12);
            color: $mygray;
          }
        }
        .arrow-wrapper {
          top: 4px;
          position: relative;
          display: inline-block;
          height: 1rem;
          width: rem(50);
          .arrow {
            position: absolute;
            top: 0;
            width: rem(50);
            fill: $myred;
            left: 0;
          }
        }
        // a {
        //   .svg.arrow {
        //     @include transition(all .3s ease);
        //   }
        //   .svg.arrow-bg {
        //     // @include transition(transform .3s ease);
        //   }
        // }
        // a:hover {
          // .svg.arrow {
          //   @include transition(all .3s ease);
          //   fill: $text;
          // }
          // .svg.arrow-bg {
          //   transform: translateX(0px);
          //   transform: translateY(0px);
          // }
        // }
      }
    }
    @include media($desktop-up) {
      @include span-columns(9 of 15);
      @include shift(1);
      @include pad(2rem 0);
      margin-top: em(-150);
      margin-bottom: 4rem;
      background-color: #fff;
      hr {
        @include span-columns(9 of 9);
        margin: 2rem 0 2.5rem 0;
        &:first-of-type {
          display: none;
        }
      }
      .image {
        @include span-columns(9 of 9);
        height: em(250);
        margin-bottom: 2rem;
        &:first-of-type {
          display: none;
        }
        a {
          display: block;
          height: 100%;
        }
      }
      .links {
        @include span-columns(2 of 9);
        @include pad(0 1rem 1rem 1rem);
        text-align: center;
        img.author {
          visibility: hidden;
          width: em(80);
          border-radius: 50%;
          // margin-bottom: 1em;
        }
        h5 {
          visibility: hidden;
          font-family: FranklinGothicURWCom-Dem;
          color: $mygray;
          letter-spacing: 0;
          margin-bottom: 0;
          font-size: em(13);
          letter-spacing: .05em;
          // font-weight: bold;
        }
        p {
          visibility: hidden;
          font-family: MillerDisplay;
          color: $mygray;
          font-size: em(13);
          a {
            color: $myred;
          }
        }
        border-right: 1px solid $mygold;
      }
      .intro {
        @include span-columns(7 of 9);
        @include omega();
        padding-right: 1.5rem;
        h2 {
          font-family: "MillerDisplay Light";
          font-size: rem(42);
          line-height: rem(52);
          // margin-bottom: 1em;
          padding-right: 2rem;
        }
        h3 {
          display: inline-block;
          font-family: "MillerText";
          font-size: em(16);
          line-height: 1em;
          font-style: italic;
          margin-top: 1rem;
          margin-right: .5rem;
          border-bottom: 1px solid $text;
        }
        p {
          font-family: MillerDisplay;
          color: $mygray;
          font-style: rem(17);
          line-height: rem(27);
          a {
            color: $myred;
          }
        }
        p.byline {
          font-family: FranklinGothicURW-Boo;
          text-transform: uppercase;
          font-size: rem(12);
          letter-spacing: .1em;
          color: $text;
          margin-top: .5em;
          span {
            font-family: MillerDisplay;
            text-transform: lowercase;
            font-style: italic;
            font-size: rem(12);
            color: $mygray;
          }
        }
        .arrow-wrapper {
          top: 4px;
          position: relative;
          display: inline-block;
          height: 1rem;
          width: rem(50);
          img.arrow {
            position: absolute;
            top: 0;
            width: rem(50);
            fill: $myred;
            left: 0;
          }
        }
        // a {
        //   .svg.arrow {
        //     @include transition(all .3s ease);
        //   }
        //   .svg.arrow-bg {
        //     // @include transition(transform .3s ease);
        //   }
        // }
        // a:hover {
          // .svg.arrow {
          //   @include transition(all .3s ease);
          //   fill: $text;
          // }
          // .svg.arrow-bg {
          //   transform: translateX(0px);
          //   transform: translateY(0px);
          // }
        // }
      }
    }

  }

  .post-intro-wrapper {
    @extend .posts-wrapper;
    @include media($mobile-down) {
      @include span-columns(1 of 1);
      margin-bottom: 0;
      padding-bottom: 0;
      .links {
        @include span-columns(1 of 1);
        // @include pad(1rem);
      }
      .intro {
        @include span-columns(1 of 1);
        // padding-right: 3rem;
        p a {
          color: $myred;
        }
      }
    }
    @include media($desktop-up) {
      @include span-columns(11 of 15);
      @include shift(2);
      margin-bottom: 0;
      padding-bottom: 0;
      .links {
        @include span-columns(2 of 11);
        // @include pad(1rem);
      }
      .intro {
        @include span-columns(9 of 11);
        @include omega();
        padding-right: 3rem;
        p {
          font-size: em(19);
          line-height: em(28);
          a {
            color: $myred;
          }
        }
      }
    }
  }

  .post-body-wrapper {
    @include media($mobile-down) {
      @extend .posts-intro-wrapper !optional;
      @include span-columns(1 of 1);
      margin-top: 0;
      padding-bottom: 0;
      .text-section {
        text-align: left;
        @include span-columns(1 of 1);
        // padding-right: 3rem;
        p {
          font-family: MillerDisplay;
          color: $mygray;
          a {
            color: $myred;
          }
        }
      }
    }
    @include media($desktop-up) {
      @extend .posts-intro-wrapper !optional;
      @include span-columns(11 of 15);
      @include shift(2);
      margin-top: 0;
      padding-bottom: 0;
      .text-section {
        @include span-columns(9 of 11);
        @include shift(2);
        @include omega();
        padding-right: 3rem;
        p {
          font-family: MillerDisplay;
          font-size: em(19);
          line-height: em(28);
          color: $mygray;
          a {
            color: $myred;
          }
        }
        figure[data-type=quote] {
          font-family: MillerDisplay;
          font-size: 1.2rem;
        }
      }
    }
  }

  .post-image-wrapper, .post-video-wrapper {

    @include media($mobile-down) {
      @extend .posts-intro-wrapper !optional;
      @include span-columns(1 of 1);
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-bottom: 0;
      img {
        width: 100%;
      }
    }

    @include media($desktop-up) {
      @extend .posts-intro-wrapper !optional;
      @include span-columns(11 of 15);
      @include shift(2);
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-bottom: 0;
      img {
        width: 100%;
      }
    }
  }

  .post-quote-wrapper {
    @include media($mobile-down) {
      @extend .posts-intro-wrapper !optional;
      @include span-columns(1 of 1);
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-bottom: 0;
      h1 {
        text-align: left;
        color: $mygray;
        // border-left: 1px solid $mygold;
        padding-left: 1rem;
        margin-bottom: 0;
      }
    }
    @include media($desktop-up) {
      @extend .posts-intro-wrapper !optional;
      @include span-columns(8 of 15);
      @include shift(3);
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-bottom: 0;
      h1 {
        color: $mygray;
        // border-left: 1px solid $mygold;
        // padding-left: 1rem;
        font-size: rem(36);
        line-height: rem(46);
        margin-bottom: 0;
      }
    }
  }


  .rail {
    @include media($mobile-down) {
      display: none !important;
      @include span-columns(1 of 1);
      .tags {
        margin-top: 1rem;
      }
      .tag-button {
        @include transition(all .3s ease);
        // height: rem(40);
        // width: rem(125);
        display: inline;
        background-color: transparent;
        border: 1px solid $mygray;
        border-radius: 0px;
        // margin-top: 1rem;
        margin-bottom: rem(10);
        margin-right: .25rem;
        height: rem(30);
        border-radius: 25px;
        padding: .1rem 1.5rem 0 1.5rem;
        p {
          @include transition(all .3s ease);
          margin-bottom: 0;
          font-family: FranklinGothicURW-Boo;
          font-size: rem(9);
          color: $mygray;
          letter-spacing: .15em;
          text-transform: uppercase;
          font-weight: 500;
        }
        &.selected {
          color: #030303;
          border: 1px solid #000;
          background-color: #000;
          p {
            color: #fff;
          }
        }
        &:hover {
          color: #030303;
          border: 1px solid $mygray;
          background-color: $mygray;
        }
        &:hover p {
          color: #fff;
        }
        &:active {
          color: #030303;
          border: 1px solid #000;
          background-color: #000;
        }
        &:active p {
          color: #fff;
        }
      }
    }
    @include media($desktop-up) {
      @include span-columns(4 of 15);
      .search-form {
        margin-top: 2rem;
        width: 95%;
        input {
          border: 1px solid #efefef;
          border-radius: 0px;
          height: em(40);
          font-size: em(14);
          padding-left: 10px;
          box-shadow: none;
          font-family: MillerDisplay;
          color: $mygray;
          font-size: em(13);
        }
      }
      .tags {
        margin-top: 2rem;
      }
      .tag-button {
        @include transition(all .3s ease);
        // height: rem(40);
        // width: rem(125);
        display: inline;
        background-color: transparent;
        border: 1px solid $mygray;
        border-radius: 0px;
        // margin-top: 1rem;
        margin-bottom: rem(10);
        height: rem(30);
        border-radius: 25px;
        padding: .1rem 1.5rem 0 1.5rem;
        p {
          @include transition(all .3s ease);
          margin-bottom: 0;
          font-family: FranklinGothicURW-Boo;
          font-size: rem(9);
          color: $mygray;
          letter-spacing: .15em;
          text-transform: uppercase;
          font-weight: 500;
        }
        &.selected {
          color: #030303;
          border: 1px solid #000;
          background-color: #000;
          p {
            color: #fff;
          }
        }
        &:hover {
          color: #030303;
          border: 1px solid $mygray;
          background-color: $mygray;
        }
        &:hover p {
          color: #fff;
        }
        &:active {
          color: #030303;
          border: 1px solid #000;
          background-color: #000;
        }
        &:active p {
          color: #fff;
        }
      }
      .featured {
        margin-top: 2rem;
        .featured-post {
          margin-top: 1rem;
          margin-bottom: 2rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #eee;
          img {
            height: 200px;
            margin-bottom: 1rem;
          }
          h2 {
            font-family: MillerDisplay;
            font-size: em(20);
            margin-bottom: 0;
            margin-top: -8px;
            padding: 0;
          }
          p {
            font-family: MillerDisplay;
            color: $mygray;
          }
          p.byline {
            font-family: FranklinGothicURW-Boo;
            text-transform: uppercase;
            font-size: rem(12);
            letter-spacing: .1em;
            color: $text;
            margin-top: .5em;
            span {
              font-family: MillerDisplay;
              text-transform: lowercase;
              font-style: italic;
              font-size: rem(12);
              color: $mygray;
            }
          }
        }
      }
    }
  }

  .full.split {
    margin-top: 4rem;
    .split.banner {
      @include split-banner();
      .split-right .arrow {
        // fill: #fff !important;
      }
      .split-right {
        h5, h3 {
          color: #fff;
        }
      }
    }
  }

  #pages {
    text-align: center;
    li {
      display: inline;
      a {
        font-family: MillerDisplay;
        font-size: 1.2rem;
        color: $text;
        margin-left: .15rem;
        margin-right: .15rem;
      }
    }
    li.active a {
      color: #ccc;
    }
  }

}

body.search {

  .search-form {
    margin-top: 2rem;
    @include span-columns(12 of 15);
    @include shift(1);
    input {
      width: 35%;
      display: inline-block;
    }
  }

  #tipue_search_content {
    @include span-columns(12 of 15);
    @include shift(1);
    h2 {
      font-family: MillerDisplay;
      font-size: rem(24);
      font-weight: normal;
      font-style: normal;
      color: $text;
      line-height: 1.25;
      margin-top: .5rem;
    }
    p {
      font-family: FranklinGothicURW-Boo;
      color: $mygray;
    }
    dt {
      font-family: FranklinGothicURW-Boo;
      font-size: em(18);
    }
    .wh-search-term {
      background: lighten($myred, 45%);
      display: inline-block;
      font-weight: bold;
    }
  }
}

