body.contact {

  .nav-link.contact a {
    border-bottom: 3px solid $myred;
  }

  .intro.hero {
    @include hero();
    padding: 6.5rem 1rem 6.5rem 1rem !important;
  }

  .full {
    .banner.photo {
      @include banner-photo();
      @include media($mobile-down) {
        height: em(250);
        .inner-wrapper {
          height: em(250);
        }
        .inner {
          @include span-columns(1 of 1);
          @include shift(0);
          height: em(250);
        }
        @include media($lg-up) {
          height: rem(550);
        }
        h2 {
          @include vertical-align();
          color: #fff;
          font-family: "MillerDisplay Light";
          font-size: 2rem;
          font-weight: 100;
          color: $text;
          font-style: normal !important;
        }
      }
      @include media($desktop-up) {
        .inner {
          @include span-columns(9 of 15);
          @include shift(3);
          height: rem(550);
        }
        h2 {
          @include vertical-align();
          color: #fff;
          font-family: "MillerDisplay Light";
          font-size: rem(48);
          font-weight: 100;
          color: $text;
          font-style: normal !important;
        }
      }

    }
  }

  .contact-info {
    @include media($mobile-down) {
      text-align: left;
      @include span-columns(1 of 1);
      padding-top: rem(90);
      padding-bottom: rem(90);
      padding-left: 1rem;
      padding-right: 1rem;
      .ny {
        margin-bottom: 3rem;
      }
      h5 {
        font-family: FranklinGothicURW-Dem;
        color: $mygray;
        letter-spacing: 1px;
        span {
          color: $myred;
        }
      }
      h3 {
        margin-bottom: 0;
      }
      .map {
        @include transition(all .3s ease);
        // height: rem(40);
        // width: rem(125);
        display: inline;
        background-color: transparent;
        border: 1px solid $mygray;
        border-radius: 0px;
        margin-top: rem(40);
        margin-bottom: rem(60);
        height: rem(30);
        border-radius: 25px;
        padding: .1rem 1.5rem 0 1.5rem;
        p {
          @include transition(all .3s ease);
          margin-bottom: 0;
          font-family: FranklinGothicURW-Boo;
          font-size: rem(9);
          color: $mygray;
          letter-spacing: .15em;
          text-transform: uppercase;
          font-weight: 500;
        }
        &:hover {
          color: #030303;
          border: 1px solid $mygray;
          background-color: $mygray;
        }
        &:hover p {
          color: #fff;
        }
        &:active {
          color: #030303;
          border: 1px solid #000;
          background-color: #000;
        }
        &:active p {
          color: #fff;
        }
      }
    }
    @include media($desktop-up) {
      @include span-columns(4 of 15);
      @include shift(1);
      padding-top: rem(90);
      padding-bottom: rem(90);
      .ny {
        margin-bottom: 3rem;
      }
      h5 {
        font-family: FranklinGothicURW-Dem;
        color: $mygray;
        letter-spacing: 1px;
        span {
          color: $myred;
        }
      }
      h3 {
        margin-bottom: 0;
      }
      .map {
        @include transition(all .3s ease);
        // height: rem(40);
        // width: rem(125);
        display: inline;
        background-color: transparent;
        border: 1px solid $mygray;
        border-radius: 0px;
        margin-top: rem(40);
        margin-bottom: rem(60);
        height: rem(30);
        border-radius: 25px;
        padding: .1rem 1.5rem 0 1.5rem;
        p {
          @include transition(all .3s ease);
          margin-bottom: 0;
          font-family: FranklinGothicURW-Boo;
          font-size: rem(9);
          color: $mygray;
          letter-spacing: .15em;
          text-transform: uppercase;
          font-weight: 500;
        }
        &:hover {
          color: #030303;
          border: 1px solid $mygray;
          background-color: $mygray;
        }
        &:hover p {
          color: #fff;
        }
        &:active {
          color: #030303;
          border: 1px solid #000;
          background-color: #000;
        }
        &:active p {
          color: #fff;
        }
      }
    }

  }

  .contact-details {
    @include media($mobile-down) {
      text-align: left;
      padding-left: 1rem;
      padding-right: 1rem;
      @include span-columns(1 of 1);
      padding-top: rem(90);
      padding-bottom: rem(90);
      p.headline {
        font-family: MillerDisplay;
        font-size: rem(30);
        line-height: rem(40);
        text-transform: uppercase;
        font-style: italic;
        margin-bottom: 1rem;
        margin-top: rem(60);
        letter-spacing: .05em;
        &:first-of-type {
          margin-top: 0;
        }
        color: $text;
      }
      h3 {
        font-family: "MillerDisplay Light";
        color: $mygray;
        font-size: rem(20);
        line-height: 1.3;
        letter-spacing: 0px;
        font-weight: 100;
        a {
          display: inline;
          color: $mygray;
          text-decoration: none;
          border-bottom: 1px solid $mygray;
        }
      }
    }
    @include media($desktop-up) {
      @include span-columns(8 of 15);
      @include shift(1);
      padding-top: rem(90);
      padding-bottom: rem(90);
      p.headline {
        font-family: MillerDisplay;
        font-size: rem(30);
        line-height: rem(40);
        text-transform: uppercase;
        font-style: italic;
        margin-bottom: 1rem;
        margin-top: rem(60);
        letter-spacing: .05em;
        &:first-of-type {
          margin-top: 0;
        }
        color: $text;
      }
      p {
        font-family: "MillerDisplay Light";
        color: $mygray;
        font-size: rem(30);
        line-height: rem(40);
        letter-spacing: 0px;
        font-weight: 100;
        a {
          display: inline;
          color: $mygray;
          text-decoration: none;
          border-bottom: 1px solid $mygray;
        }
      }
    }

  }

  .full.split {
    .split.banner {
      @include split-banner();
      .split-right .arrow {
        // fill: #fff !important;
      }
      .split-right {
        h5, h3 {
          color: #fff;
        }
      }
    }
  }







}

