.logo-footer {
  @include clearfix;
  float: left;
  width: 100%;
  background: $text;
  text-align: center;
  img {
    width: rem(30);
    margin-top: rem(60);
    margin-bottom: rem(20);
  }
  h5 {
    font-family: FranklinGothicURW-Dem;
    font-size: rem(13);
    color: $mygray;
  }
}

.top-footer { 
  @include media($mobile-down) {
    text-align: center;
  }
  @include media($desktop-up) {
    padding-bottom: rem(55);
  }
  float: left;
  width: 100%;
  background: $text;
  ul {
    @include media($mobile-down) {
      @include span-columns(1 of 1);
      margin-top: rem(25);
      display: inline; 
      text-align: center;
      border-top: 1px solid #000;
    }
    @include media($desktop-up) { 
      display: none !important; 
      @include span-columns(5 of 15);
      @include shift(5);
      text-align: center;
      margin-top: rem(55);
      border-top: 1px solid #000;
    }
    li.footer-nav-link { 
      font-size: rem(12);
      background: $text;
      line-height: rem(70);
      overflow: hidden;
      display: inline;
      background: transparent;
      padding-left: .75rem;
      padding-right: .75rem;
      // padding-right: $navigation-submenu-padding;
      // text-align: right;
      width: 100%;
      z-index: 9999;
      a {
        font-family: FranklinGothicURW-Boo;
        color: #fff;
        letter-spacing: 1px;
        display: inline-block;
        outline: none;
        text-decoration: none;

        &:focus,
        &:hover {
          // color: $navigation-color-hover;
        }
      }

    }
  }

}

.footer-2 {

  // .test {
  //   width: 100px;
  //   height: 40px;
  //   background-color: red;
  //   position: absolute;
  //   left: 0;
  // }

  @include media($mobile-down) {
    background-color: #030303;
    // padding: 0 2rem;
    width: 100%;
    display: block;
    // height: 200px;
    clear: both;
    .brand {
      text-align: center;
      background-color: #030303;
      // @include vertical-align();
      @include span-columns(1 of 1);
      font-size: rem(9);
      padding: 2rem 0 1rem; 
      font-family: FranklinGothicURW-Boo;
      color: $mygray;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .social { 
      background-color: #030303;
      text-align: center;
      padding: 1rem 0 2rem;
      // @include vertical-align();
      @include span-columns(1 of 1);
      .service {
        display: inline-block;
        text-align: right;
        font-size: rem(18);
        margin-top: 5px;
        font-weight: 400;
        margin-left: .75rem;
        a {
          color: #fff;
        }
        a:hover {
          color: #d20337;
        }
        .fa-facebook {
          font-size: 1.3rem;
        }
        .fa-medium {
          font-size: 1.3rem;
        }
        &:first-of-type {
          margin-left: 0;
        }
      }

    }

    button {
      @include transition(all .3s ease);
      font-family: FranklinGothicURW-Boo;
      display: block;
      font-weight: 500;
      float: right;
      margin-left: 1.5rem;
      margin-top: 5px;
      font-size: rem(9);
      letter-spacing: .15em;
      text-transform: uppercase;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 20px; 
      margin-top: 1px;
      height: rem(30);
      color: #fff;
    }
    button:hover {
      color: #030303;
      border: 1px solid #e7e7e7; 
      background-color: #e7e7e7;
    }


    .modal-x {
      // height: 50px;
      // float: right;
      background-color: #030303; 
      h1 {
        text-align: center !important;
        font-size: em(24);
        color: $mygray; 
        margin-bottom: 0;
      }
      hr {
        border-color: $mygray;
        width: em(50);
      }
      p.signup {
        text-align: center;
        margin-bottom: 3rem;
        span {
          display: inline-block;
          max-width: em(300);
        }
      }
      p.nospam {
        text-align: center;
        margin-top: 2rem;
        color: lighten($mygray, 10%);
      }
      .modal-content {
        padding: 3rem 4rem 2rem 4rem;
      }
      .input {
        width: 100%;
        height: em(40);
        margin-bottom: 1rem;
      }
      input {
        border: none;
        height: em(40);
        font-size: em(14);
        padding-left: 10px;
      }
      .submit {
        text-align: center;
        margin-top: 2rem;
        input[type="submit"] {
          @include transition(all .3s ease);
          font-family: FranklinGothicURW-Boo;
          display: inline-block;
          padding-left: 1.75em;
          margin-left: 0;
          font-size: rem(10); 
          letter-spacing: .15em;
          text-transform: uppercase;
          background-color: transparent;
          border: 1px solid $mygray;
          border-radius: 20px; 
          margin-top: 1px;
          height: rem(30);
          color: $mygray;
          text-align: center;
        }
      }
      .modal-inner {
        max-width: 95% !important;
      }
    }

    .modal-trigger {
      p {
        @include transition(all .3s ease);
        display: inline-block;
        // float: right;
        font-weight: 500;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 20px; 
        font-family: FranklinGothicURW-Boo;
        color: #fff;
        font-size: rem(9);
        letter-spacing: .15em;
        text-transform: uppercase;
        // margin-bottom: 0;
        margin-top: 2rem;
        // margin-left: 1.5rem;
        padding: .5em 1em;
      }
      p:hover {
        color: #030303;
        border: 1px solid #e7e7e7; 
        background-color: #e7e7e7;
      }
    }

  }
  @include media($desktop-up) {
    background-color: #030303;
    padding: 0 2rem;
    width: 100%;
    display: block;
    height: 100px;
    clear: both;

    .brand {
      @include vertical-align();
      @include media ($desktop-up) {
        @include span-columns(2 of 4)
      }
      font-size: rem(9);
      font-family: FranklinGothicURW-Boo;
      color: $mygray;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .social {
      text-align: right;
      padding-top: em(30);
      @include media ($desktop-up) {
        @include span-columns(2 of 4)
      }
      .service {
        display: inline-block;
        text-align: right;
        font-size: rem(18);
        margin-top: 5px;
        font-weight: 400;
        margin-left: .75rem;
        a {
          color: #fff;
        }
        a:hover {
          color: #d20337;
        }
        .fa-facebook {
          font-size: 1.3rem;
        }
        .fa-medium {
          font-size: 1.3rem;
        }
      }

      button {
        @include transition(all .3s ease);
        font-family: FranklinGothicURW-Boo;
        font-weight: 500;
        display: block;
        float: right;
        margin-left: 1.5rem;
        margin-top: 5px;
        font-size: rem(9);
        letter-spacing: .15em;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 20px; 
        margin-top: 1px;
        height: rem(30);
        color: #fff;
      }
      button:hover {
        color: #030303;
        border: 1px solid #e7e7e7; 
        background-color: #e7e7e7;
      }


      .modal-x {
        // height: 50px;
        float: right;
        background-color: #030303; 
        h1 {
          text-align: center;
          color: $mygray; 
          margin-bottom: 0;
        }
        hr {
          border-color: $mygray;
          width: em(50);
        }
        p.signup {
          text-align: center;
          margin-bottom: 3rem;
          span {
            display: inline-block;
            max-width: em(300);
          }
        }
        p.nospam {
          text-align: center;
          margin-top: 2rem;
          color: lighten($mygray, 10%);
        }
        .modal-content {
          padding: 3rem 4rem 2rem 4rem;
        }
        .input {
          width: 100%;
          height: em(40);
          margin-bottom: 1rem;
        }
        input {
          border: none;
          height: em(40);
          font-size: em(14);
          padding-left: 10px;
        }
        .submit {
          text-align: center;
          margin-top: 2rem;
          input[type="submit"] {
            @include transition(all .3s ease);
            font-family: FranklinGothicURW-Boo;
            display: inline-block;
            padding-left: 1.75em;
            margin-left: 0;
            font-size: rem(10); 
            letter-spacing: .15em;
            text-transform: uppercase;
            background-color: transparent;
            border: 1px solid $mygray;
            border-radius: 20px; 
            margin-top: 1px;
            height: rem(30);
            color: $mygray;
            text-align: center;
          }
        }
      }

      .modal-trigger {
        p {
          @include transition(all .3s ease);
          display: block;
          float: right;
          font-weight: 500;
          background-color: transparent;
          border: 1px solid #fff;
          border-radius: 20px; 
          font-family: FranklinGothicURW-Boo;
          color: #fff;
          font-size: rem(9);
          letter-spacing: .15em;
          text-transform: uppercase;
          // margin-bottom: 0;
          margin-top: 5px;
          margin-left: 1.5rem;
          padding: .5em 1em;
        }
        p:hover {
          color: #030303;
          border: 1px solid #e7e7e7; 
          background-color: #e7e7e7;
        }
      }



    }
  }

  

}
