header {
  position: fixed; 
  top: 0;
  right: 0;
  left: 0;
  @include media($sm-up) {
    // @include outer-container();
    border-bottom: 1px solid #e7e7e7;
  }

  a.svg { 
    position: absolute;
    top: 0;
    @include media($mobile-down) {
      left: rem(15);
    }
    @include media($desktop-up) {
      left: rem(30);
    }
    height: rem(50); 
    width: rem(115); 
    z-index: 1; 
  }
  a.svg span { 
    display: inline-block; 
  }
  a.svg object { 
    position: relative; 
    z-index: -1; 
    height: rem(50); 
    width: rem(115); 
  }

  #menu-wrapper {
    position: absolute;
    top: 0;
    right: 0px;
    height: rem(50);
    font-size: rem(12);
    p.contact {
      @include vertical-align(); 
      height: rem(50);
      line-height: rem(50);
      margin-bottom: 0;
      @include media($mobile-down) {
        margin-right: 66px;
      }
      @include media($desktop-up) {
        display: none;
        // padding-right: 1rem;
      }
      
      a {
        display: block;
        padding: 0 1.5rem;
        border-right: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
        // @include media($lg-up) { 
        //   border-right: 1px solid #fff;
        //   border-left: 1px solid #fff;
        // }
        font-family: FranklinGothicURW-Boo;
        color: $mygray;
        letter-spacing: .15em;
      }
    }
    .c-hamburger {
      @include media($mobile-down) {
        position: absolute;
        top: 5px;
        right: 0;
        margin-right: .75rem; 
      }
      @include media($desktop-up) {
        display: none;
      }

    }
  }
}

header .overlay {
  margin-top: em(50);
}


.navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #848484 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $navigation-padding: 1em;
  $navigation-logo-height: 2em;
  $navigation-background: #fff;
  $navigation-color: transparentize($base-font-color, 0.3);
  $navigation-color-hover: $base-font-color;
  $navigation-height: rem(50);
  $navigation-item-padding: 1em;
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $lg;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 6%);
  min-height: $navigation-height;
  width: 100%;
  z-index: 99999;

  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;

    img {
      max-height: $navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .overlay-hugeinc {
    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .navigation-mobile-menu {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: $navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  .navigation-wrapper {
    // @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      // margin-left: $navigation-item-nudge;
    }
  }

  ul li.nav-link {
    font-size: rem(12);
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    // text-align: center;
    width: 100%;
    z-index: 9999;
    li.contact {
      @include media($mobile-down) { 
        background-color: red;
      }
    }

    a {
      font-family: FranklinGothicURW-Boo;
      color: $mygray;
      letter-spacing: .15em;
      display: inline-block;
      outline: none;
      text-decoration: none;
      height: rem(50);
      margin-bottom: -1px;

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      a {
        padding-right: 1em;
        padding-left: 1em;
      }
    }

    &.contact {
      @include media($horizontal-bar-mode){
        display: none;
      }
      @include media($desktop-up) {
        display: inline;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$navigation-logo-height / 3;
    max-height: $navigation-logo-height;
    opacity: 0.6;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }
}
