.home {
  main {
    @include media($sm-up) {
      // @include outer-container();
      @include media($desktop-up) {
        @include pad(0 0 3rem 0);
      }
    }
  }

  .intro.hero {
    @include hero();
    text-align: center;
    // background-color: #efefef;
    @include media($mobile-down) {
      padding: 5rem 0 2rem 0;
    }
    @include media($desktop-up) {
      padding: 5rem 0 4rem 0;
    }
    .square {
      @include square();
      position: relative;
      // width: rem(300);
      background-color: #212121;
      .headline-wrapper {
        position: absolute;
        top: 35%;
        right: 0;
        left: 0;
        h1 {
          font-family: "MillerDisplay Light";
          font-size: rem(48);
          font-style: normal;
          display: block;
          color: #fff;
          margin-bottom: 0;
          text-transform: uppercase;
          letter-spacing: 4px;
        }
        h5 {
          color: $mygold;
          font-size: 1rem;
          letter-spacing: .25em;
        }
      }
      &:before {
        position: absolute;
        content:" ";
        top: 84%;
        right: 50%;
        width: 50%;
        height: em(120);
        border-right: 1px solid $mygold;
      }
    }
    .tagline-wrapper {
      // text-align: left;
      padding-top: 5.5rem;
    }
  }

  .about.hero {
    @include hero();
    @include media($mobile-down) {
      padding: 3rem 0 3rem 0;
    }
    @include media($desktop-up) {
      padding: 6.5rem 0 6.5rem 0 !important;
    }
    .button-wrapper {
      text-align: center;
      button {
        @include mybutton();
        margin: 0 .375rem;
      }
    }
  }

  .projects.banner.arrow {
    @include banner-arrow();
  }

  .full.split {
    .split.banner {
      @include split-banner();
    }
  }


  .full {
    .showcase {
      @include showcase();
    }
  }

  .full.clients {
    text-align: center;
    background-color: #edeeef;
    @include media($mobile-down) {
      @include padding(3rem 0);
    }
    @include media($desktop-up) {
      @include padding(6rem 2rem);
    }
    .logos {
      @include outer-container();
      @include media($desktop-up) {
        padding-top: 2.25rem;
      }

      .logo {
        @include media($mobile-down) {
          width: 50%;
          @include padding(.3rem);
          height: rem(150);
          float: left;
        }
        @include media($desktop-up) {
          @include span-columns(3);
          @include omega(5n);
          @include padding(.3rem);
          height: rem(150);
          margin-bottom: 1rem;
        }
      }
      .logo img {
        @include vertical-align();
      }
    }
  }
  #backstretch {
    width: 100%;
    height: calc(100vh - 50px);
    // position: fixed !important;
    @include media($mobile-down) {
      max-height: em(400);
      .backstretch {
        max-height: em(400);
      }
    }
    .inner-wrapper {
      @include outer-container();
      height: 100%;
    }
    .inner {
      @include vertical-align();
      @include span-columns(11 of 15);
      @include shift(2);
      text-align: center;
      h2.headline {
        @include media($phones) {
          font-size: 2rem !important;
          line-height: 1.2 !important;
        }
        @include media($mobile-down) {
          font-size: rem(48);
          line-height: 1.2;
        }
        @include media($desktop-up) {
          font-size: rem(72);
        line-height: rem(90);
        }
        margin-bottom: .5em;
        color: #fff;
      }
    }
    .svg.scroll {
      position: absolute;
      bottom: rem(40);
      left: 50%;
      width: rem(50);
      margin-left: rem(-25);
    }
  }

}