.video.full {
  line-height: 0;
}

.header-video {
  position: relative;
  overflow: hidden;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .inner-2 {
      @include outer-container();
      // @include vertical-align();
      padding-top: 15%;
      // background-color: yellow;
      // height: 100%;
      .play {
        @include span-columns(11 of 15);
        @include shift(2);
        text-align: center;
        clear: both;
        position: relative;
        @include media($mobile-down){
          margin-top: 2rem;
        }
        @include media($desktop-up){
          margin-top: 2.5rem;
        }
        @include media($phones) {
          // margin-top: 0;
        }
        @include media(max-width em(667)){
          margin-top: 2.5rem;
        }
        @include media(max-width em(500)){
          margin-top: 1.5rem;
        }

        a {
          @include media(max-width em(500)){
            width: em(25);
          }
          @include media(min-width em(501)){
            width: em(50);
          }
        }
      }
    }
  }
  h2.headline {
    // position: absolute;
    // top: 15%;
    // left: 0;
    // right: 0;
    // padding: 0 17%;
    // text-align: center;
    // @include vertical-align();
    @include span-columns(11 of 15);
    @include shift(2);
    text-align: center;
    @include media($phones) {
      font-size: 2rem !important;
      line-height: 1.2 !important;
    }
    @include media($mobile-down) {
      font-size: rem(48);
      line-height: 1.2;
    }
    @include media(max-width em(500)){
      font-size: rem(24) !important;
      line-height: 1.2;
    }
    @include media($desktop-up) {
      font-size: rem(72);
      line-height: rem(90);
    }
    margin-bottom: 0;
    color: #fff;
  }
}

.header-video iframe,
.header-video video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-video iframe {
  height: 100%;
  width: 100%;
}

.header-video video {
  width: 100%;
}

.header-video__teaser-video {
  width: 100%;
  height: auto;
}

.header-video__media {
  width: 100%;
  height: 100%;
}

.header-video__play-trigger {
  display: block;
  width: 15%;
  z-index: 5;
  position: absolute;
  // background: rgba(0,0,0,.3);
  background: transparent;
  text-align: center;
  color: white;
  text-decoration: none;
  // padding: 1.5em 3em;
  left: 50%;
  // top: 65%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  transition: background .5s;
}

.header-video__play-trigger:hover {
  // background: rgba(0,0,0,.5);
  background: transparent;
}

// img.play, svg.play {
//   width: 20%;
// }

.modal-close {
  z-index: 99;
  @include position(absolute, 1em 1em null null);
  @include size(1.5em);
  background: rgba(255,255,255,0.95);
  cursor: pointer;
  padding: 1.15em;
  border-radius: 0;

  &:after,
  &:before {
    @include position(absolute, 9px 9px 0 50%);
    @include transform(rotate(45deg));
    @include size(1px 1.5em);
    background: #ddd;
    content: '';
    display: block;
    margin: -3px 0 0 -1px;
    background-color: #d2aa64;
  }

  &:hover:after,
  &:hover:before {
    background: darken(#d2aa64, 10%);
  }

  &:before {
    @include transform(rotate(-45deg));
  }
}

/**
  Just some basic styling for the closing trigger
**/

// .header-video__close-trigger {
//   z-index: 99;
//   position: absolute;
//   background: #A61212;
//   text-align: center;
//   color: white;
//   text-decoration: none;
//   padding: 2em 3em;
//   border-radius: 10px;
//   right: 30px;
//   top: 30px;
//   -webkit-transition: background .3s;
//   -moz-transition: background .3s;
//   transition: background .3s;
//   border: none;
// }
// .header-video__close-trigger:hover {
//   background: #363636;
//   cursor: pointer;
// }


body.project {
  .nav-link.work a {
    border-bottom: 3px solid $myred;
  }

  #backstretch {
    width: 100%;
    height: calc(100vh - 50px);
    // position: fixed !important;
    @include media($mobile-down) {
      max-height: em(400);
      .backstretch {
        max-height: em(400);
      }
    }
    .inner-wrapper {
      @include outer-container();
      height: 100%;
    }
    .inner {
      @include vertical-align();
      @include span-columns(11 of 15);
      @include shift(2);
      text-align: center;
      h2.headline {
        @include media($phones) {
          font-size: 2rem !important;
          line-height: 1.2 !important;
        }
        @include media($mobile-down) {
          font-size: rem(48);
          line-height: 1.2;
        }
        @include media($desktop-up) {
          font-size: rem(72);
        line-height: rem(90);
        }
        margin-bottom: .5em;
        color: #fff;
      }
    }
    .svg.scroll {
      position: absolute;
      bottom: rem(40);
      left: 50%;
      width: rem(50);
      margin-left: rem(-25);
    }
  }

  .banner.arrow {
    @include banner-arrow();
    @include media($mobile-down) {
      padding-top: em(50) !important;
      padding-bottom: em(70) !important;
      padding-right: 1rem;
      padding-left: 1rem;
      h2 {
        @include span-columns(1 of 1);
        @include shift(0);
        margin-bottom: 0;
      }
      &:after {
        // border-top: solid 15px #e2d8be;
      }
    }
    @include media($desktop-up) {
      padding-top: em(50) !important;
      padding-bottom: em(50) !important;
      h2 {
        @include span-columns(9 of 15);
        @include shift(3);
        margin-bottom: .5em;
      }
      &:after {
        // border-top: solid 15px #e2d8be;
      }
    }
    background-color: #e2d8be;
  }

  .banner.photo {
    @include banner-photo();
    @include media($mobile-down) {
      height: em(250);
      .inner-wrapper {
        height: em(250);
      }
      .inner {
        @include span-columns(1 of 1);
        @include shift(0);
        height: em(250);
      }
      @include media($lg-up) {
        height: rem(550);
      }
      h2 {
        @include vertical-align();
        color: #fff;
      }
    }
    @include media($desktop-up) {
      .inner {
        @include span-columns(9 of 15);
        @include shift(3);
        height: rem(550);
      }
      h2 {
        @include vertical-align();
        color: #fff;
      }
    }
  }

  .banner.text_on_image {
    @include media($mobile-down) {
      display: none;
    }
    @include banner-photo();
    .inner-wrapper {
      @include media($desktop-up) {
        height: rem(600);
      }
    }
    .inner.left {
      @include span-columns(6 0f 15);
      @include shift(1);
      @include vertical-align();
    }
    .inner.right {
      @include span-columns(6 0f 15);
      @include shift(8);
      @include vertical-align();
    }
    @include media($desktop-up) {
      height: rem(600);
    }
    p.headline {
      font-family: MillerDisplay;
      font-size: rem(24);
      line-height: 1.4;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 0px;
      color: $text;
      text-align: left;
    }
    p.text {
      text-align: left;
      margin-top: 1rem;
      font-family: FranklinGothicURW-Boo;
      font-size: rem(16);
      line-height: rem(26);
      color: $mygray;
    }
  }

  .gallery {
    @include media($mobile-down) {
      height: em(350);
      .gallery-cell {
        height: em(350);
        width: 100%;
      }
    }
    @include media($desktop-up) {
      height: em(900);
      .gallery-cell {
        height: em(900);
        width: 100%;
      }
    }
  }

  .banner.dual {
    @include outer-container();
    @include media($mobile-down) {
      text-align: center;
      .text-first {
        text-align: left;
        @include span-columns(1 of 1);
        margin: em(60) 0 em(60) 0;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .image-second {
        @include span-columns(1 of 1);
        img {
          max-height: em(300);
        }
      }
      .image-first {
        @include span-columns(1 of 1);
        img {
          max-height: em(300);
        }
      }
      .text-second {
        text-align: left;
        @include span-columns(1 of 1);
        margin: em(60) 0 em(60) 0;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      p.headline {
        text-align: left;
        font-family: MillerDisplay;
        font-size: rem(30);
        line-height: rem(40);
        text-transform: uppercase;
        font-style: italic;
        margin-bottom: 0px;
        color: $text;
      }
      p.text {
        text-align: left;
        margin-top: 1rem;
        font-family: FranklinGothicURW-Boo;
        font-size: rem(16);
        line-height: rem(26);
        color: $mygray;
      }
      img {
        // position: absolute;
        // @include center($xy:y);
        // max-width:
      }
    }
    @include media($desktop-up) {
      @include outer-container();
      .text-first {
        @include span-columns(6 0f 15);
        @include shift(1);
        @include vertical-align();
        // margin-top: em(200);
        // margin-bottom: em(200);
      }
      .image-second {
        // border: 1px solid red;
        @include span-columns(8 0f 15);
        img {
          display: block;
          max-height: 600px;
        }
      }
      .image-first {
        @include span-columns(8 0f 15);
        // @include shift(1);
        img {
          display: block;
          max-height: 600px;
        }
      }
      .text-second {
        @include span-columns(6 0f 15);
        @include vertical-align();
      }
      p.headline {
        font-family: MillerDisplay;
        font-size: rem(30);
        line-height: rem(40);
        text-transform: uppercase;
        font-style: italic;
        margin-bottom: 0px;
        color: $text;
      }
      p.text {
        margin-top: 1rem;
        font-family: FranklinGothicURW-Boo;
        font-size: rem(16);
        line-height: rem(26);
        color: $mygray;
      }
      img {
        // position: absolute;
        // @include center($xy:y);
        // max-width:
      }
    }
  }

  .full.split {
    .split.banner {
      @include split-banner();
      .split-right .arrow {
        // fill: #fff !important;
      }
      .split-right {
        h5, h3, p {
          color: #fff !important;
        }
      }
    }
  }

  .banner.grid-image {
    @include grid-image();
  }

  section.grid.image-wrapper {
    @include media($mobile-down) {
      margin: 2rem auto;
    }
    @include media($desktop-up) {
      margin: 4rem auto;
    }
  }

}