body.work {

  .nav-link.work a {
    border-bottom: 3px solid $myred;
  }

  .intro.hero {
    @include hero();
    padding: 6.5rem 0 6.5rem 0 !important;
  }

  .full {
    .showcase {
      @include showcase();
    }
    // .showcase:last-of-type {
    //   border-bottom: 3px solid $myred;
    // }
  }

  .past.hero {
    @include hero();
    text-align: center;
    // background-color: #efefef;
    padding: 8rem 0 4rem 0 !important;
    .square {
      @include square();
      position: relative;
      // width: rem(300);
      background-color: #212121;
      .headline-wrapper {
        position: absolute;
        top: 35%;
        right: 0;
        left: 0;
        h1 {
          font-family: "MillerDisplay Light";
          @include media($mobile-down) {
            font-size: rem(42);
          }
          @include media($desktop-up) {
            font-size: rem(48);
          }
          
          font-style: normal;
          display: block; 
          color: #fff;
          margin-bottom: 0;
          text-transform: uppercase; 
          letter-spacing: 4px;
        }
        h5 {
          color: $mygold;
          font-size: 1rem;
          letter-spacing: .25em;
        }
      }
      &:before {
        position: absolute;
        content:" ";
        top: 84%;
        right: 50%;
        width: 50%;
        height: em(120);
        border-right: 1px solid $mygold;
      }
    }
    .tagline-wrapper {
      padding-top: 5.5rem; 
    }
  }


  .grid {
    @include clearfix;
    width: 100%; 
    margin-bottom: 6rem;
    .grid-sizer, .grid-item {
      @include media($mobile-down) {
        width: 50%;
      }
      @include media($desktop-up) {
        width: 25%;
      }
    }
    .grid-item {
      // transition: opacity 1s;
      float: left;
    }
    .grid-item:before {
      transition: opacity .3s; 
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0,0,0,.2);
      // z-index: 0;
    }
    .grid-item:hover {
      &:before {
        opacity: 1;
      }
    }
    .grid-item img {

      display: block;
      max-width: 100%;
      height: auto;
      &:hover {
        box-shadow:inset 0px 0px 0px 5px #f00;
      }
    }
  }

  .full.split {
    .split.banner {
      @include split-banner();
    }    
  } 







}

