---
layout: default
class: blog
pagination:
  enabled: true
contact_tagline: "Let's start a conversation about luxury."
---
{% assign posts = site.posts | sort:'publish_date' | reverse %}
{% assign featured = posts | where:'featured','true' %}
{% assign first = paginator.posts | first %}
{% assign projects = site.projects | sort:'sort_order' %}
{% assign casestudy = projects | first %}


<section class="full">
  <div class="banner photo" style="background-position: center center">
    <img
      class="js-img"
      ix-path="{% if first.featured_image %}{{first.featured_image | replace: '/uploads/', ''}}{% else %}/uploads/blog-default.png{% endif %}"
      ix-params='{
        "auto": "compress"
      }'
      sizes="100vw"
    >
  </div>
</section>

<section class="grid">
  <div class="posts-wrapper">
    {% for post in paginator.posts %}
    <hr>
    <div class="image" style="background-size: cover; background-position: center center"><a href="{{ post.url }}"></a>
      <img
        class="js-img"
        ix-path="{% if post.featured_image %}{{post.featured_image | replace: '/uploads/', ''}}{% else %}blog-default.png{% endif %}"
        ix-params='{
          "auto": "compress"
        }'
        sizes="(min-width: 1000px) 50vw, 95vw"
      >
    </div>
    <div class="links">
      {% if post.author.image %}
      <img class="author" src="{{ post.author.image }}" alt="">
      {% else %}
      <img class="author" src="/assets/images/blog-logo.jpg" alt="">
      {% endif %}
      <h5>WRITTEN</h5>
      <p>{{ post.publish_date | date: "%m/%d/%Y" }}</p>
    </div>
    <div class="intro">
      <a href="{{ post.url }}"><h2>{{post.title}} </h2></a>
      {% if post.author.image %}
      <p class="byline"><span>by </span>{{ post.author.name }}</p>
      {% else %}
      <p class="byline"><span>by </span>The O Group</p>
      {% endif %}
      {{ post.intro_markdown | markdownify }}
      <a href="{{ post.url }}">
        <h3>Read More</h3>
        <div class="arrow-wrapper">
          <img src="/assets/images/red-arrow.png" alt="" class="arrow">
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="rail">
<!--     <form action="/search-results/" class="search-form" method="get" data-search-index="false">
      <input type="text" placeholder="search posts" id="tipue_search_input" name="q">
    </form> -->
    <div class="tags">
      <h5>Tags</h5>
      <a href="/blog"><button class="tag-button"><p class="tag">all</p></button></a>
      {% for tag in site.tags %}
        {% assign t = tag | first %}
        <a href="/{{ site.tag_page_dir }}/{{ t | slugify: 'pretty' }}"><button class="tag-button"><p class="tag">{{ t }}</p></button></a>
      {% endfor %}
    </div>
    <div class="featured">
      <h5>Featured Posts</h5>
      {% for post in featured limit:5 %}
      <div class="featured-post">
        <a href="{{post.url}}">
          <img
            ix-path="{% if post.featured_image %}{{post.featured_image | replace: '/uploads/', ''}}{% else %}/uploads/blog-default.png{% endif %}"
            ix-params='{
              "auto": "compress"
            }'
            sizes="(min-width: 1000px) 25vw"
          >

          </a>
        <a href="{{post.url}}"><h2>{{ post.name }}</h2></a>
        {% if post.author.image %}
        <p class="byline"><span>by </span>{{ post.author.name }}</p>
        {% else %}
        <p class="byline"><span>by </span>The O Group</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include paginator.html %}

<section class="split full">
  <div class="split banner">
    <div class="split split-left">
    <a href="">
      <h5>Contact</h5>
      <h3>{{ page.contact_tagline }}</h3>
      <div class="arrow-wrapper">
        <img src="/assets/images/red-arrow.png" alt="" class="arrow">
      </div>
    </a>
    </div>
    <div class="split-right" style="background-size: cover;">
      <img
        class="js-img"
        ix-path="{{casestudy.featured_image | replace: '/uploads/', ''}}"
        ix-params='{
          "auto": "compress"
        }'
        sizes="(min-width: 1000px) 50vw, 100vw"
      >
      <a href="{{ casestudy.url }}">
        <h5>Case Study</h5>
        <h3>{{ casestudy.overview }}</h3>
        <div class="arrow-wrapper">
          <img src="/assets/images/white-arrow.png" alt="" class="arrow">
        </div>
      </a>
    </div>
  </div>
</section>

