---
title: Contact Us
banner_image: /uploads/contact.jpg
headline: New York City + Seattle
headline_color: '#ffffff'
ny_address_line_1: 150 West 30th Street, Suite 1201
ny_address_line_2: New York, NY 10001
ny_phone: 212.398.0100
seattle_address_line_1: 4020 6th Ave NW
seattle_address_line_2: Seattle, WA 98107
seattle_phone: 206.949.8173
new_business_info:
general_info: 'For general inquiries, partnerships and collaborations, speaking engagements and the like email us at:'
careers_info: Our agency is currently not hiring, but we encourage you to check back in the future as we update our site anytime we have new job openings.
---

<section class="full">
  <div class="banner photo" style="background-position: center center">
    <img
      class="js-img"
      ix-path="{{page.banner_image | replace: '/uploads/', ''}}"
      ix-params='{
        "auto": "compress"
      }'
      sizes="100vw"
    >
    <div class="inner-wrapper">
      <div class="inner">
        <h2 class="headline" style="color:{{page.headline_color}}">{{ page.headline }}</h2>
        }
      </div>
    </div>
  </div>
</section>

<section class="grid">
  <div class="contact-info">
    <div class="ny">
      <h5><span>New York City</span> / Headquarters</h5>
      <h3>{{page.ny_address_line_1}}</h3>
      <h3>{{page.ny_address_line_2}}</h3>
      <h3>{{page.ny_phone}}</h3>
    </div>
    <div class="seattle">
      <h5><span>Seattle</span> / o group west</h5>
      <h3>{{page.seattle_address_line_1}}</h3>
      <h3>{{page.seattle_address_line_2}}</h3>
      <h3>{{page.seattle_phone}}</h3>
    </div>
  </div>
  <div class="contact-details">
    <p class="headline">new business</p>
    <h3>{{page.new_business_info}} {% if page.new_business_email %}<span><a href="mailto:info@ogroup.net">info@ogroup.net</a></span>{% endif %}</h3>
    <p class="headline">general</p>
    <h3>{{page.general_info}} {% if page.general_email %}<span><a href="mailto:info@ogroup.net">info@ogroup.net</a></span>{% endif %}</h3>
    <p class="headline">careers</p>
    <h3>{{page.careers_info}}</h3>
  </div>
</section>


{% assign casestudies = site.projects | sort:'sort_order' %}
{% assign casestudy = casestudies[0] %}

<section class="split full">
  <div class="split banner">
    <div class="split split-left">
    {% assign post = site.posts | last %}
    <a href="{{post.url}}">
      <h5>Blog</h5>
      <h3>{{ post.title }}</h3>
      <p><span>by </span>{% if post.author %}{{ post.author }}{% else %} The O Group{% endif %}</p>
      <div class="arrow-wrapper">
        <img src="/assets/images/red-arrow.png" alt="" class="arrow">
      </div>
    </a>
    </div>
    <div class="split-right" style="background-size: cover;">
      <img
        class="js-img"
        ix-path="{{casestudy.featured_image | replace: '/uploads/', ''}}"
        ix-params='{
          "auto": "compress"
        }'
        sizes="(min-width: 1000px) 50vw, 100vw"
      >
      <a href="{{ casestudy.url}}">
        <h5>Case Study</h5>
        <h3>{{ casestudy.overview }}</h3>
        <div class="arrow-wrapper">
          <img src="/assets/images/white-arrow.png" alt="" class="arrow">
        </div>
      </a>
    </div>
  </div>
</section>