---
header_background_image: /uploads/home_header_background.jpg
vimeo:
  vimeo_id: 159985308
  vimeo_width: 640
  vimeo_height: 360
header_headline: Luxury creative for brands of all kinds. View our reel.
header_headline_text_color: '#ffffff'
intro_tagline: 'Anyone can tell you where luxury came from. As a creative agency, we work with clients to shape where it’s headed.'
work_tagline: We’ve been through 30 years of bling and busts. We’ve seen a lot. Done a lot. And learned a lot.​
contact_tagline: Let’s talk about luxury.
logos:
  - name: Hennessy
    logo_path: /uploads/hennessylogo.svg
    percentage_height:
  - name: The Pierre
    logo_path: /uploads/thepierrelogo.svg
    percentage_height:
  - name: Salvatore Ferragamo
    logo_path: /uploads/ferragamologo.svg
    percentage_height:
  - name: Langham Place
    logo_path: /uploads/langhamplacelogo.svg
    percentage_height:
  - name: Lacoste
    logo_path: /uploads/lacostelogo.svg
    percentage_height:
  - name: Diageo
    logo_path: /uploads/diagiologo.svg
    percentage_height:
  - name: Marriott International
    logo_path: /uploads/marriottlogo.svg
    percentage_height:
  - name: Crown Royal
    logo_path: /uploads/crownroyallogo.svg
    percentage_height:
  - name: Chef Michael White
    logo_path: /uploads/chefmichaelwhitelogo.svg
    percentage_height:
  - name: Godiva
    logo_path: /uploads/godivalogo.svg
    percentage_height:
  - name: Kimberly McDonald
    logo_path: /uploads/kimberlymcdonaldlogo.svg
    percentage_height:
  - name: Glenmorangie
    logo_path: /uploads/glenmorangielogo.svg
    percentage_height:
  - name: 'Bizzi & Partners Development'
    logo_path: /uploads/bizzipartnersdevelopment.svg
    percentage_height:
  - name: Garrard
    logo_path: /uploads/garrardlogo.svg
    percentage_height:
  - name: Donald J Pliner
    logo_path: /uploads/djplogo.svg
    percentage_height:
  - name: Effy
    logo_path: /uploads/effylogo.svg
    percentage_height:
  - name: Captain Morgan Black
    logo_path: /uploads/captainlogo.svg
    percentage_height:
  - name: Artistic Tile
    logo_path: /uploads/artistictilelogo.svg
    percentage_height: 110
  - name: Belvedere
    logo_path: /uploads/belvederelogo.svg
    percentage_height:
  - name: Ai Fiori
    logo_path: /uploads/aifiorilogo.svg
    percentage_height:
  - name: Altamarea
    logo_path: /uploads/altamareagrouplogo.svg
    percentage_height:
  - name: Acqualina
    logo_path: /uploads/acqualinalogo.svg
    percentage_height:
  - name: Assael
    logo_path: /uploads/assaellogo.svg
    percentage_height:
  - name: Fetzer
    logo_path: /uploads/fetzerlogo.svg
    percentage_height:
  - name: Robert Marc
    logo_path: /uploads/robertmarclogo.svg
    percentage_height:
  - name: Remy Martin
    logo_path: /uploads/remylogo.svg
    percentage_height:
  - name: Reinhold
    logo_path: /uploads/reinholdlogo.svg
    percentage_height:
  - name: Piaget
    logo_path: /uploads/piagetlogo.svg
    percentage_height:
  - name: 'Moet & Chandon'
    logo_path: /uploads/moetlogo.svg
    percentage_height:
  - name: The Ritz-Carlton Residences Miami Beach
    logo_path: /uploads/ritz-carltonresidenceslogo.svg
    percentage_height:
description: 'A New York &amp; Seattle based creative agency focused on rethinking luxury.'
---
  {% if page.vimeo.vimeo_id.size > 2 %}
    <section class="video full">
      <div class="header-video">
        <img ix-path="{% if page.header_background_image %}{{ page.header_background_image | replace: '/uploads/', ''}}{% endif %}"
             ix-params='{
               "auto": "compress"
             }'
             sizes="100vw"
             class="header-video__media"
             data-video-url="https://www.vimeo.com/{{ page.vimeo.vimeo_id }}"
             data-video-id="{% if page.vimeo.vimeo_id %}{{ page.vimeo.vimeo_id }}{% endif %}"
             data-video-width="{% if page.vimeo.vimeo_width %}{{ page.vimeo.vimeo_width }}{% else %}640{% endif %}"
             data-video-height="{% if page.vimeo.vimeo_height %}{{ page.vimeo.vimeo_height }}{% else %}360{% endif %}">

        <div class="inner">
          <div class="inner-2">
            <h2 class="headline" {% if page.header_headline_text_color %}style="color: {{page.header_headline_text_color}}"{% endif %}>{{ page.header_headline }}</h2>
            <div class="play">
            <!-- <h1>test</h1> -->
              <a href="" class="header-video__play-trigger" id="header-video__play-trigger"><img src="/assets/images/play.svg" alt="" class="svg"></a>
            </div>

          </div>
        </div>

        <button type="button" class="header-video__close-trigger modal-close" id="header-video__close-trigger"></button>
      </div>
    </section>
  {% else if page.header_background_image %}
    <section id="backstretch" class="full">
      <div class="inner-wrapper">
        <div class="inner">
          <h2 class="headline" {% if page.header_headline_text_color %}style="color: {{page.header_headline_text_color}}"{% endif %}>{{ page.header_headline }}</h2>
        </div>
      </div>
      <img src="/assets/images/scroll.svg" alt="" class="svg scroll">
    </section>
  {% endif %}

  <section class="grid">
    <div class="intro hero">
      <div class="square">
        <div class="headline-wrapper">
          <h5>rethink</h5>
          <h1 class="headline">Luxury</h1>
        </div>
      </div>
      <div class="tagline-wrapper">
        <h2>{{ page.intro_tagline }}</h2>
      </div>
    </div>

    <div class="projects banner arrow">
      <div class="inner-wrapper">
        <div class="inner">
          <h5>featured work</h5>
          <h1 class="headline">Case Studies</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="full">
    {% if jekyll.environment == 'production' %}
      <!-- for previewing drafts on cloudcannon -->
      {% assign published = site.projects %}
    {% else %}
      {% assign published = site.projects | where:'draft_project','false' %}
    {% endif %}
    {% assign projects = published | where:'show_on_homepage','true' | sort:'sort_order' %}
    {% for project in projects  %}
    <div class="showcase" style="background-position: center center">
      <img ix-path="{% if project.featured_image %}{{ project.featured_image | replace: '/uploads/', ''}}{% endif %}"
           alt=""
           ix-params='{
             "auto": "compress"
           }'
           class="js-img"
           sizes="100vw">


     <a href="{{ project.url }}">
      <div class="inner-wrapper">
        <div class="inner">
           {% if project.client %}<h5>{{ project.client }}</h5>{% endif %}
           {% if project.overview %}<h2>{{ project.overview }}</h2>{% endif %}
            <img src="/assets/images/white-arrow.png" alt="" class="arrow">
        </div>
      </div>
     </a>
    </div>
   {% endfor %}
   </section>

   <section class="grid">
     <div class="about hero">
       <div class="tagline-wrapper">
          {% if page.work_tagline %}<h2>{{ page.work_tagline }}</h2>{% endif %}
       </div>
       <div class="button-wrapper">
         <a href="/work"><button><p>more work</p></button></a>
         <a href="/agency"><button><p>agency</p></button></a>
       </div>
     </div>
   </section>

   <section id="clients" class="clients full">
     <div class="projects banner">
       <h5>Experience</h5>
       <h1 class="headline">Featured Clients</h1>
     </div>
     <div class="logos">
       {% for logo in page.logos %}
       <div class="logo"><img src="{{ logo.logo_path }}" {% if logo.percentage_height %}style="height: {{ logo.percentage_height }}%" {% else %}style="height: 100%"{% endif %}></div>
       {% endfor %}
     </div>
   </section>

   <section class="split full">
     <div class="split banner">
       <div class="split split-left">
       <a href="/contact">
         <h5>Contact</h5>
         {% if page.contact_tagline %}<h3>{{ page.contact_tagline }}</h3>{% endif %}
         <div class="arrow-wrapper">
           <img src="/assets/images/red-arrow.png" alt="" class="arrow">
         </div>
       </a>
       </div>
      <div class="split split-right">
        {% assign post = site.posts | last %}
        <a href="{{post.url}}">
          <h5>Blog</h5>
          {% if post %}<h3>{{ post.title }}</h3>{% endif %}
          {% if post.publish_date %}<p class="byline">{{ post.publish_date | date: "%m/%d/%Y" }}</p>
          {% endif %}
          <div class="arrow-wrapper">
            <img src="/assets/images/red-arrow.png" alt="" class="arrow">
          </div>
        </a>
      </div>
     </div>
   </section>
