---
layout: default
class: home
description: The Branding and Design Agency for Luxury Brands
header_headline: 'Luxury creative for brands of all kinds. View our reel.'
header_headline_text_color: '#ffffff'
intro_tagline: 'Anyone can tell you where luxury came from. As a creative agency, we work with clients to shape where it’s headed.'
work_tagline: 'We’ve been through 30 years of bling and busts. We’ve seen a lot. Done a lot. And learned a lot.​'
contact_tagline: 'Let’s talk about luxury.'
vimeo:
  vimeo_id: 159985308
  vimeo_width: 640
  vimeo_height: 360
header_background_image: /uploads/home_header_background.jpg
logos:
  - name: Hennessy
    logo:
    percentage_height:
  - name: The Pierre
    logo:
    percentage_height:
  - name: Salvatore Ferragamo
    logo:
    percentage_height:
  - name: Langham Place
    logo:
    percentage_height:
  - name: Lacoste
    logo:
    percentage_height:
  - name: Diageo
    logo:
    percentage_height:
  - name: Marriott International
    logo:
    percentage_height:
  - name: Crown Royal
    logo:
    percentage_height:
  - name: Chef Michael White
    logo:
    percentage_height:
  - name: Godiva
    logo:
    percentage_height:
  - name: Kimberly McDonald
    logo:
    percentage_height:
  - name: Glenmorangie
    logo:
    percentage_height:
  - name: Bizzi & Partners Development
    logo:
    percentage_height:
  - name: Garrard
    logo:
    percentage_height:
  - name: Donald J Pliner
    logo:
    percentage_height:
  - name: Effy
    logo:
    percentage_height:
  - name: Captain Morgan Black
    logo: 90
    percentage_height:
  - name: Artistic Tile
    logo:
    percentage_height: 110
  - name: Belvedere
    logo:
    percentage_height:
  - name: Ai Fiori
    logo:
    percentage_height:
  - name: Altamarea
    logo:
    percentage_height:
  - name: Acqualina
    logo:
    percentage_height:
  - name: Assael
    logo:
    percentage_height:
  - name: Fetzer
    logo:
    percentage_height:
  - name: Robert Marc
    logo:
    percentage_height:
  - name: Remy Martin
    logo:
    percentage_height:
  - name: Reinhold
    logo:
    percentage_height:
  - name: Piaget
    logo:
    percentage_height:
  - name: Moet & Chandon
    logo:
    percentage_height:
  - name: The Ritz-Carlton Residences Miami Beach
    logo:
    percentage_height:
---
  {% if page.vimeo.vimeo_id.size > 2 %}
    <section class="video full">
      <div class="header-video">
        <img src="{{ page.header_background_image }}"
               class="header-video__media"
               data-video-url="https://www.vimeo.com/{{ page.vimeo.vimeo_id }}"
               data-video-id="{{ page.vimeo.vimeo_id }}"
               data-video-width="{{ page.vimeo.vimeo.width }}"
               data-video-height="{{ page.vimeo.vimeo.height }}">

        <div class="inner">
          <div class="inner-2">
            <h2 class="headline" {% if page.header_headline_text_color %}style="color: {{page.header_headline_text_color}}"{% endif %}>{{ page.header_headline }}</h2>
            <div class="play">
            <!-- <h1>test</h1> -->
              <a href="" class="header-video__play-trigger" id="header-video__play-trigger"><img src="/assets/images/play.svg" alt="" class="svg"></a>
            </div>

          </div>
        </div>

        <button type="button" class="header-video__close-trigger modal-close" id="header-video__close-trigger"></button>
      </div>
    </section>
  {% else if page.header_background_image %}
    <section id="backstretch" class="full">
      <div class="inner-wrapper">
        <div class="inner">
          <h2 class="headline" {% if page.header_headline_text_color %}style="color: {{page.header_headline_text_color}}"{% endif %}>{{ page.header_headline }}</h2>
        </div>
      </div>
      <img src="/assets/images/scroll.svg" alt="" class="svg scroll">
    </section>
  {% endif %}

  <section class="grid">
    <div class="intro hero">
      <div class="square">
        <div class="headline-wrapper">
          <h5>rethink</h5>
          <h1 class="headline">Luxury</h1>
        </div>
      </div>
      <div class="tagline-wrapper">
        <h2>{{ page.intro_tagline }}</h2>
      </div>
    </div>

    <div class="projects banner arrow">
      <div class="inner-wrapper">
        <div class="inner">
          <h5>featured work</h5>
          <h1 class="headline">Case Studies</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="full">
    {% assign projects = site.projects | where:'show_on_homepage','true' | sort: 'sort_order' %}
    {% for project in projects  %}
    <div class="showcase" style="background-image: url({{ project.featured_image }}); background-position: center center">
     <a href="{{ project.url }}">
      <div class="inner-wrapper">
        <div class="inner">
          <h5>{{ project.client }}</h5>
          <h2>{{ project.overview }}</h2>
            <img src="/assets/images/white-arrow.png" alt="" class="arrow">
        </div>
      </div>
     </a>
    </div>
   {% endfor %}
   </section>

   <section class="grid">
     <div class="about hero">
       <div class="tagline-wrapper">
         <h2>{{ page.work_tagline }}</h2>
       </div>
       <div class="button-wrapper">
         <a href="/work"><button><p>more work</p></button></a>
         <a href="/agency"><button><p>agency</p></button></a>
       </div>
     </div>
   </section>

   <section id="clients" class="clients full">
     <div class="projects banner">
       <h5>Experience</h5>
       <h1 class="headline">Featured Clients</h1>
     </div>
     <div class="logos">
       {% for logo in page.logos %}
       <div class="logo"><img src="{{ logo.image }}" style="height: {{ logo.percentage_height }}%"></div>
       {% endfor %}
     </div>
   </section>
